* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mob-view{
    background-color : #192A32;
    height: 650px;
    width: 450px;
    border-radius: 15px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    img {
        margin: 4px;
    }
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    $width : 350px;

    .pick-container {
        background : #1F3540;
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 10px;
        width: $width;
    }

    h1 {
        color: white;
        font-size: 20px;
        font-weight: 500;
        padding-top: 15px;
        letter-spacing: 1px;
    }

    .pick {
        display: flex;
        margin: 15px;
        background: #192A32;
        width: 300px;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
    }

    button {
        background-color: transparent;
        height: 40px;
        margin: 5px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        border: none;
        cursor: pointer;
    }
    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        filter: brightness(10)
    }
    .pick #circle button:focus{
        background-color: #fff;
    }
    .pick button:focus {
        background-color: #fff;
        cursor: pointer
    }
    
    .pick button:focus img {
        filter: brightness(0);
        cursor: pointer
    }

    
    #cpu {
        background: #F2B237;
        width: $width;
        font-weight: 600;
        color: #192A32;
        margin-top: 20px;
        cursor: pointer;
    }
    
    #human {
        background: #32C4C3;
        width: $width;
        font-weight: 600;
        color: #192A32;
        margin-top: 10px;
        cursor: pointer;
    }

    #invite {
        background: #F2B237;
        width: 250px;
        height: 35px;
        font-weight: 600;
        color: #192A32;
        margin-top: 60px;
    }
}

.toast{
    background: #192A32;
    color: #F2B237;
    border-radius: 8px;
}

.quote-container{
    position: absolute;
    bottom: 25px;
    left: 200px;

    .quotes{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #192A32;
        background: #192A32;
        width: 280px;
        border-radius: 10px;
        padding: 12px;

        h1{
            color: #31C4BE;
            font-size: 30px;
            // padding-top: 25px;
        }
        
        p{
            color: #F2B237;
            // padding: 25px;
            font-size: 25px;
            font-weight: 600;
        }
    
        #btn-quote{
            
            width: 35px;
            border-radius: 50px;
        }
    }

    
}


